h1{
    text-align:center; 
    padding:16px;
}

.row:nth-of-type(1) table {
	margin-bottom:20px;
}
.row:nth-of-type(1) table tr:hover{
	cursor:pointer;
}


.row:nth-of-type(2) h1 {
	font-weight:bold;
	font-size:20pt;
	padding-bottom:0;
}


.row:nth-of-type(3) table {
	border:1px solid #999;
}
.row:nth-of-type(3) table th{
	text-align:center;
}
.row:nth-of-type(3) table tr:nth-of-type(3n-2)>td:nth-of-type(1){
	/* posizione */
	font-weight:bold;
	font-size:20pt;
	text-align:center;
	vertical-align:middle;
}
.row:nth-of-type(3) table tr:nth-of-type(3n-2)>td:nth-of-type(2){
	/* immagine */
	text-align:center;
	vertical-align:middle;
}
.row:nth-of-type(3) table tr:nth-of-type(3n-2)>td:nth-of-type(2)>img{
	max-height:100px;
}